@import "~bootstrap/scss/bootstrap";
//variabili colori
$primary-color:#0282f9;
$main-color:#1c1c1c;
$footer-color:#303030;

header{
    > *:first-child{
        background-color: $primary-color;
    }
}
main {
    background-color: lightcoral;
}

.gatto-img {
    height: 200px;
}

.gatto-bg {
    height: 200px;
    background-image: url('../img/gatto.webp');
    background-size: contain;
}
