@import "~bootstrap/scss/bootstrap";
//variabili colori
$primary-color:#0282f9;
$main-color:#1c1c1c;
$footer-color:#303030;
//utility


header{
    > *:first-child{
        background-color: $primary-color;
    }
    .logo{
        width:75px;
        img{
            width:100%
        }
    }
    a{
        color: black;
        text-decoration: none;
        display: flex;
        font-weight: bold;
        align-items: center;
        height: 100px;
        padding: 5px;
        transition: all .1s ease-in;
        &:hover,
        &:active{
            border-bottom: 5px solid #0c7cec;
        }
    }
}
main {
    //sezione home

    #home-carousel{
        img{
            max-height: 250px;
            border-radius:25px;
            object-fit: cover;
            height: 100%;
        }
    }
    //sezione comics
    background-color: $main-color;
    color:white;
    .jumbotron{
        max-height: 400px;
        object-fit: center;
        overflow: hidden;
        img{
            height: 100%;
        }
    }
    #comics-series{
        .container{
            position:relative;
        }
        #special-series{
            padding:10px 10px;
            background-color: $primary-color;
            position:absolute;
            bottom:100%;
            left:0;
            transform:translateY(50%);
        }
        .container-img-comics{
            max-width: 150px;
            object-fit: center;
            overflow: hidden;
            img{
                width:100%
            }
        }
    }
    #links-comics{
        background-color: $primary-color;
        .img-container{
            width:75px;
            img{
                width: 100%;
            }
        }
    }
}

.gatto-img {
    height: 200px;
}

.gatto-bg {
    height: 200px;
    background-image: url('../img/gatto.webp');
    background-size: contain;
}

footer{
    ul{
        list-style: none;
        padding:0;
    }
    #footer-top{
       background-image: url('../img/footer-bg.jpg');
       background-size: contain;
       color:grey;
       a{
        text-decoration: none;
       }
       .footer-link{
        color:grey;
        &:hover{
            color:white;
        }
       }
       .col-6:last-of-type{
        background-image: url('../img/dc-logo-bg.png');
        background-size: cover;
        background-position: center;

       }
    }
    #footer-bottom{
        background-color: $footer-color;
        .social{
            
            >div{
                height: 35px;
                width:35px;

                border-radius: 50%;
                &:hover{
                    background-color:white;
                }
            }
        }
    }
}
